body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerprincipal{
    background-color: rgba(0, 0, 0, 0.616);
    width: auto;
    height: auto;
    display: flex;
    
    justify-content: center;
    flex-direction: column;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cuadrometeorologico{
    display: flex;
    flex-direction: row;
    color: white;
}
.complementario{
    display: flex;
    flex-direction: column;
}
.previsionhoras{
    display: flex;

}
#icono{
    width: 150px;
}