
nav ul{
    position: fixed;
    top: 40px;
    left: 20px;
    right: 20px;
    display: flex;
    gap: 50px;
    font-size: 40px;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
}
body{
    background-color: black;
}
#fondo{
    position: fixed;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 1;
    transition: opacity 5s ease;
}
