.menus{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(82, 82, 82, 0.511);
    width: auto;
    height: 100px;
    font-size: 40px;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
}
.botonInicio img{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 15px;
    right: 20px;
}