body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    gap: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 10px;
}
.titulo{
    display: flex;
    color: white;
}
div img{
    width: 70px;
    height: 70px;
}
main{
    background-color: rgba(71, 61, 139, 0.605);
    text-align: center;
    font-size: 30px;
    padding: 20px;
    gap: 20px;
    width: 0 auto;
    height: 0 auto;
    border-radius: 20px;
}
