
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(81, 81, 81, 0.379);
    padding: 4px;
    width: 90vw;
    height: 100px;
    font-size: 40px;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
}
